<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas-9-Dan-10-Form-Input-Binding</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <div id="app" style="margin: 4em;">
        <input type="text" v-model:value="input" placeholder="Kata Kunci">
        <ul>
            <li v-cloak v-if="value0">{{books[0]}}</li>
            <li v-cloak v-if="value1">{{books[1]}}</li>
            <li v-cloak v-if="value2">{{books[2]}}</li>
            <li v-cloak v-if="value3">{{books[3]}}</li>
            <li v-cloak v-if="value4">{{books[4]}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                input: '',
                keyword: function () {return this.input},
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman',
                ],
            },
            computed: {
                value0: function () {
                    if (this.books[0].includes(this.keyword())) {return true}
                },
                value1: function () {
                    if (this.books[1].includes(this.keyword())) {return true}
                },
                value2: function () {
                    if (this.books[2].includes(this.keyword())) {return true}
                },
                value3: function () {
                    if (this.books[3].includes(this.keyword())) {return true}
                },
                value4: function () {
                    if (this.books[4].includes(this.keyword())) {return true}
                }
            }
        })
    </script>
</body>

</html>
